.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
    height: 100vh;
  }
  
  .app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .app__profile-item {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    text-align: center;
    img {
      width: 100%;
      height: 170px;
      border-radius: 15px;
      object-fit: cover;
     
    }
  
    @media screen and (min-width: 2000px) {
      width: 370px;
      margin: 2rem 4rem;
  
      img {
        height: 320px;
       
      }
    }
  }
  .app__About-section{
    display: flex;
    margin: 10px;
    .img-section{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      img{
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 25% 100%, 0 50%);
        @media screen and (max-width:1225px){
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        }
      }
      
    
    }
    .p-section{
      flex: 1 1;
      padding: 62px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        padding: 2rem 4rem;
        text-align: left;
        @media screen and (max-width:1225px){
         text-align: center; 
        }
        @media screen and (max-width:650px){
         font-size: 12px;
         }
      }
    }
    @media screen and (max-width:1225px){
      flex-direction: column;
      align-items: center;
    }
  }